<div class="container">
    <div class="banner">
        <div class="title">Guia do Glow</div>
        <div style="color:white">
            Encontre dicas de cuidados naturais para uma pele mais saudável e jovem
        </div>
    </div>

    <div class="card-row">
        <div class="card pink">
            <div class="card-text card1">
                <div class="card-title">Ácido Hialurônico</div>
                <div class="card-description">O ácido hialurônico é um ingrediente natural encontrado em nosso corpo,
                    conhecido por sua capacidade de reter água e promover hidratação profunda na pele. Ele ajuda a
                    melhorar a elasticidade e suavidade da pele, reduzindo o aparecimento de linhas finas e deixando o
                    rosto com um aspecto mais jovem e hidratado. </div>
                <button class="card-button" routerLink="/produtos">Encontre aqui</button>
            </div>
        </div>
        <div class="card white">
            <div class="card-content">
                <img class="card-image" src="images/Produto_Serum_Glow_Arroz.png" alt="Image">
                <div class="card-text">
                    <div class="card-title">Óleos Vegetais para o Cabelo</div>
                    <div class="card-description">Os óleos vegetais são essenciais para o cuidado capilar natural e são
                        ricos em nutrientes que proporcionam hidratação, nutrição e proteção aos fios. Óleos como o de
                        argan, coco, jojoba e abacate são poderosos aliados na manutenção da saúde do cabelo. Eles
                        ajudam a restaurar a vitalidade dos fios, oferecendo brilho intenso e suavizando o frizz. O óleo
                        de argan, por exemplo, é rico em antioxidantes, ácidos graxos e vitamina E, promovendo a
                        reparação de danos e protegendo contra os danos causados por agentes externos, como poluição e
                        calor. </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-row">
        <div class="card white">
            <div class="card-content">
                <img class="card-image" style="margin-left: 30px" src="images/Produto_Serum_Ginseng_FPS.png"
                    alt="Image">
                <div class="card-text">
                    <div class="card-title">Maquiagem Natural</div>
                    <div class="card-description" style="width: 80%; margin-left: 30px">A maquiagem natural tem ganhado
                        cada vez mais destaque por sua
                        proposta de realçar a beleza de forma sutil e saudável. Ao invés de cobrir a pele com camadas
                        pesadas de produtos sintéticos, a maquiagem natural foca em destacar os traços e a aparência
                        natural, respeitando a saúde da pele. Produtos como bases minerais, pós compactos sem talco,
                        iluminadores com ingredientes naturais e batons à base de óleos vegetais são as estrelas dessa
                        linha de cosméticos. Esses produtos não só oferecem uma cobertura leve e eficaz, como também
                        hidratam e protegem a pele, permitindo que ela respire. Além disso, a maioria desses
                        cosméticos é dermatologicamente testada e não contém substâncias nocivas, o que os torna uma
                        escolha mais segura e responsável para quem tem pele sensível ou deseja evitar o uso de produtos
                        com ingredientes agressivos.</div>
                </div>
            </div>
        </div>

        <div class="card4-wrapper">
            <img class="image-card4" src="images/Padrao_Segredos.png" alt="Image">
            <div class="card pink small">
                <div class="card-content">
                    <div class="card-text">
                        <div class="card-title">Cuidado com a Pele</div>
                        <div class="card-description">O cuidado com a pele é essencial para manter uma aparência
                            saudável e jovem ao longo do tempo, e a beleza natural oferece uma abordagem eficaz para
                            esse cuidado. Ao contrário dos tratamentos químicos invasivos, a rotina de cuidados naturais
                            busca restaurar e preservar a saúde da pele através de ingredientes orgânicos, naturais e
                            suaves. A hidratação é um passo fundamental, e produtos à base de aloe vera, óleo de rosa
                            mosqueta e manteiga de karité são perfeitos para manter a pele nutrida e macia. Esses
                            ingredientes naturais possuem propriedades calmantes, regeneradoras e anti-inflamatórias,
                            ideais para quem deseja combater ressecamento, vermelhidão ou sinais de envelhecimento.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="card-row squares">
        <div class="card pink square cute-card">
            <h2 style="margin-top: 40px">Dica de Skin Care</h2>Beba muita água para manter sua pele hidratada 💧
        </div>
        <div class="card pink square cute-card" style="color:#8b6ccf;">
            <h2 style="margin-top: 40px">Ingredientes</h2>Aloe Vera: acalma e suaviza a pele irritada 🌿
        </div>
        <div class="card pink square cute-card">
            <h2 style="margin-top: 40px">Lembrete de Self-Care</h2>Reserve 10 minutos para relaxar e descontrair todos
            os dias 🌙

        </div>
        <div class="card pink square cute-card" style="color:#8b6ccf;">
            <h2 style="margin-top: 40px">Beauty Fact</h2>Seu rosto tem mais de 20 músculos – use-os para sorrir 😁
        </div>
    </div>

</div>