.purchase-finalization {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 80%;
    margin: auto;
    min-height: 80%;
    position: relative;
    margin-top: 20px;
    scrollbar-width: thin;
    scrollbar-color: #d4aaab #f0f0f0;
    /* height: 250%; */
}
.steps {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    text-align: center;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 23px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.step .circle {
    width: 40px;
    height: 40px;
    background-color: #ccc;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    transition: background-color 0.3s ease;
    position: relative;
    z-index: 2;
}

.step p {
    margin-top: 5px;
    font-size: 14px;
}

.step.active .circle {
    background-color: #c08e8f;
}

.step.completed .circle {
    background-color: #b68f90;
}

.steps::after {
    content: "";
    position: absolute;
    top: 18px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    z-index: 1;
}

.steps .line {
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #ccc;
    z-index: 1;
}

.line::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background-color: #4CAF50;
    width: 0;
    transition: width 0.3s ease-in-out;
}

.step.active~.line::before {
    width: calc(25% * (currentStep - 1));
}

.step-content {
    animation: fadeIn 0.5s ease-out;
    /* max-height: 400px; */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}

.step-content .buttons {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    padding: 15px 0;
    z-index: 2;
    width: 100%;
    box-shadow: 0px -2px 5px rgba(0, 0, 0, 0.1);
}


.step-content .buttons button {
    border: none;
    border-radius: 34px;
    font-size: 18px;
    padding: 10px;
    color: rgb(255, 255, 255);
    box-shadow: inset -60px 0 20px rgba(146, 59, 139, 0.055);
    cursor: pointer;
    font-style: bold !important;
    
}

.next-btn {
    background-color: #d4aaab;
    color: white;
}

.next-btn:hover {
    background-color: rgba(188, 150, 151, 0.749)
}

.prev-btn {
    background-color: #d4aaabc9;
    color: white;
}

.prev-btn:hover {
    background-color: rgb(185, 183, 183)
}

.step-content .buttons .prev-btn {
    align-self: flex-start;
}

.step-content .buttons .next-btn {
    align-self: flex-end;
}

form input {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 23px;
    width: 100%;
    font-size: 16px;
    background-color: #efd4d2;
}

form select {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 23px;
    width: 100%;
    font-size: 16px;
    background-color: #fcefef;
}
form select:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}

form input:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: none;
    outline: none;
}
form{
    
    width: 50%;
}

.error-message {
    color: red;
    font-size: 11px;
    margin-top: 1px;
    margin-bottom: 10px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.remove {
    background-color: #B9A6E8;
    color: white;
    padding: 6px 12px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.remove:hover {
    background-color: #9887c3;
}

.product-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    width: 100%;
}

.product-card {
    list-style: none;
    display: flex;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
}

.product-image {
    flex: 1;
    max-width: 150px;
}

.product-image img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.product-info {
    flex: 3;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-info h3 {
    font-size: 1.2em;
    margin: 0;
    padding-bottom: 5px;
}

.product-info p {
    margin: 5px 0;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 13px;
}

.quantity-controls button {
    padding: 5px 12px;
    background-color: #B9A6E8;
    border: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

.quantity-controls button:disabled {
    background-color: #ccc;
}

button:disabled {
    background-color: #ccc;
}

button:disabled:hover {
    background-color: #ccc;
}


.quantity-controls span {
    font-size: 16px;
    margin: 0 10px;
}

.remove {
    background-color: #e74c3c;
    margin-left: 10px;
}

h2 {
    color: #4B4956;
}

.finish-btn{
    border: none;
    border-radius: 34px;
    font-size: 12px;
    padding: 10px;
    color: rgb(255, 255, 255);
    box-shadow: inset -60px 0 20px rgba(146, 59, 139, 0.055);
    cursor: pointer;
    background-color: #d4aaab;
    font-style: bold !important;
}


.custom-alert {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .alert-box {
    background: #fff;
    border-radius: 12px;
    padding: 30px;
    max-width: 400px;
    width: 80%;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .alert-box h3 {
    color: #B9A6E8; /* Coral color */
    font-size: 1.8em;
    margin-bottom: 10px;
  }
  
  .alert-box p {
    color: #555;
    font-size: 1.2em;
    margin-bottom: 20px;
  }
  
  .alert-box button {
    background-color: #B9A6E8;
    color: white;
    padding: 12px 25px;
    border: none;
    border-radius: 25px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .alert-box button:hover {
    background-color: #9886c7; /* Tomato color */
  }
  