<header class="topbar">
  <div class="title" routerLink="/" style="cursor: pointer;">
    <span class="dots"></span>NATURALIS
  </div>
    <div class="right-section">
      <nav class="nav-links">
        <ul>
          <li><a routerLink="produtos">Produtos</a></li>
          <li><a href="#">Artigos</a></li>
          <li><a href="#">Test</a></li>
        </ul>
      </nav>
      <div class="icons">
        <i class="fas fa-shopping-cart">AAAAAA</i>
        <i class="fas fa-user">AAAAAAAA</i>
      </div>
    </div>
  </header>