.topbar {
  background-color: #f1f2ed;
  padding: 1em;
  border-bottom: 1px solid #FFC5C5;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #3e4041;
}

.dots {
  font-size: 20px;
  vertical-align: middle;
  margin-right: 5px;
}

.dots::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a17e92;
  vertical-align: middle;
  margin-right: 5px;
  margin-bottom: 7px;
}

.dots::after {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a37c90;
  vertical-align: middle;
  margin-bottom: 7px;
  margin-right: 4px;
}

.title {
  font-size: 1.5em;
  font-weight: bold;
}

.right-section {
  display: flex;
  align-items: center;
}

.nav-links ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav-links li {
  margin-right: 2em;
}

.nav-links a {
  text-decoration: none;
  color: #333;
}

.icons i {
  margin-right: 0.5em;
  font-size: 1.2em;
  color: #333;
  cursor: pointer;
}

.cart-quantity {
  position: absolute;
  top: -8px;
  right: -8px;
  background-color: #ff6347; 
  color: white;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  font-size: 12px;
  text-align: center;
  line-height: 20px;
  padding: 0;
}

.cart-quantity {
  font-weight: bold;
  display: inline-block;
  z-index: 10;
}

.icons {
  position: relative;
}

.icons i img {
  vertical-align: middle;
}

